table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: black;
    color: white;
  }

  #txtRespuesta {
    width: 100%;
  }

  .cuerpo {
    margin-left: 25px;
    margin-right: 25px;       
  }