<div class="container col-md-5 cuerpo">
  <form novalidate [formGroup]="ingresoDatosForm" (ngSubmit)="inicializarPrueba()">
    <div class="form-group row">
      <label for="nombre">Ingrese el nombre del evaluado:</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre">
    </div>

    <div class="form-group row">
      <label for="identificacion" class="col-form-label">Ingrese la identificación del evaluado:</label>
      <input type="text" class="form-control" formControlName="identificacion" [(ngModel)]="this.idEvaluado">
    </div>

    <div class="form-group row">
      <label for="nombreExaminador" class="col-form-label">Ingrese su Nombre:</label>
      <input type="text" class="form-control" formControlName="nombreExaminador"><br>
    </div>

    <div>
      <div class="form-group row">
        <label>Fecha de nacimiento: </label>
        <input type="date" formControlName="fechaNacimiento">
      </div>

      <div class="form group row">
        <label>Fecha de evaluación: </label>
        <input type="date" formControlName="fechaEvaluacion" aria-describedby="mensaje-fecha-mayor">
        <small *ngIf="fechaInvalida" id="mensaje-fecha-mayor" class="form-text text-muted">
          La fecha de la evaluación debe ser mayor a la fecha de nacimiento.
        </small>
      </div>

      <p *ngIf="this.fechas && !fechaInvalida" id="edad"><b>Edad del evaluado: Años: {{this.edad.anios}}, Meses: {{this.edad.meses}},
          Días: {{this.edad.dias}}</b>
      </p>
    </div>
    <button type="submit" class="btn btn-dark btn-lg" [disabled]="ingresoDatosForm.invalid">Comenzar prueba</button>
  </form>

  <input type="button" id="btnPrueba" class="btn btn-dark btn-lg"
      value="Editar prueba" (click)="edicionDePrueba()">

  <div *ngIf="editarPrueba == true">
    <app-subpruebas-opcionales></app-subpruebas-opcionales>
  </div>
</div>

    

  

  


  
  
