<div class="container col-md-5 cuerpo">
<b><h3 *ngIf='this.tipoPrueba=="WAIS"'>Bienvenido a la prueba WAIS IV</h3></b>
<b><h3 *ngIf='this.tipoPrueba=="WISC"'>Bienvenido a la prueba WISC IV</h3></b>
  <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <button class="btn btn-dark" (click)="mostrarFormularioRealizarPrueba()">
      Realizar pruebas
    </button>
    <button class="btn btn-dark" (click)="mostrarFormularioConsultarPrueba()">
      Consultar pruebas realizadas
    </button>
    <button class="btn btn-dark" (click)="volver()">
      Página de inicio
    </button>
  </div>

  <form novalidate [formGroup]="ingresoDatosForm" (ngSubmit)="verificarDatosRealizarPrueba()" *ngIf="mostrarCrearPrueba">
    <div class="form-group row">
      <label for="nombre">Ingrese el nombre del evaluado:</label>
      <input type="text" id="nombre" class="form-control" formControlName="nombre">
    </div>

    <div class="form-group row">
      <label for="identificacion" class="col-form-label">Ingrese la identificación del evaluado:</label>
      <input type="text" class="form-control" formControlName="identificacion" [(ngModel)]="this.idEvaluado">
    </div>

    <div class="form-group row">
      <label for="nombreExaminador" class="col-form-label">Ingrese su Nombre:</label>
      <input type="text" class="form-control" formControlName="nombreExaminador"><br>
    </div>

    <div class="form-group row">
      <label for="idExaminador" class="col-form-label">Clave de acceso:</label>
      <input type="password" class="form-control" formControlName="idExaminador"><br>
    </div>

    <div>
      <div class="form-group row">
        <label>Fecha de nacimiento: </label>
        <input type="date" formControlName="fechaNacimiento">
      </div>

      <div class="form group row">
        <label>Fecha de evaluación: </label>
        <input type="date" formControlName="fechaEvaluacion" aria-describedby="mensaje-fecha-mayor">
        <small *ngIf="fechaInvalida" id="mensaje-fecha-mayor" class="form-text text-muted">
          La fecha de la evaluación debe ser mayor a la fecha de nacimiento.
        </small>
      </div>

      <h4 *ngIf="this.fechas && !fechaInvalida" id="edad"><b>Edad del evaluado: Años: {{this.edad.anios}}, Meses:
          {{this.edad.meses}},
          Días: {{this.edad.dias}}</b>
      </h4>
    </div>
    
    <button type="submit" class="btn btn-dark btn-lg" [disabled]="ingresoDatosForm.invalid">Comenzar prueba</button>
  </form>

  <form novalidate [formGroup]="consultarPruebaForm" (ngSubmit)="verificarDatosConsultarPrueba()" *ngIf="mostrarConsultarPrueba">

    <div class="form-group row">
      <label for="idExaminador" class="col-form-label">Clave de acceso:</label>
      <input type="password" class="form-control" formControlName="idExaminador"><br>
    </div>

    <button type="submit" class="btn btn-dark btn-lg">Consultar Prueba</button>
  </form>

</div>