<input type="text" placeholder="Nombre del evaluado..."><br>
<input type="text" placeholder="Identificación..."><br>
<input type="text" placeholder="Nombre del examinador..."><br>
<app-calculadora-fechas></app-calculadora-fechas><br>
<input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Insertar">
<div class="table-responsive"> 
  <table class="table">
    <tr>
      <th>Subprueba</th>
      <th>Puntuación <br>
      natural</th>
      <th colspan="5">Puntuación escalar</th>
    </tr>
    <tr *ngFor="let item of subpruebas; let i = index">
      <td class="puntuacionEcalarActivada">{{item}}</td>
      <td class="puntuacionEcalarActivada"></td>
      <td class="puntuacionEcalarDesactivada"
      [ngClass]="{'puntuacionEcalarActivada': (i==1 || i==4 || i==8)}"></td>
      <td class="puntuacionEcalarDesactivada"
      [ngClass]="{'puntuacionEcalarActivada': (i==0 || i==3 || i==7)}"></td>
      <td class="puntuacionEcalarDesactivada"
      [ngClass]="{'puntuacionEcalarActivada': (i==2 || i==5)}"></td>
      <td class="puntuacionEcalarDesactivada"
      [ngClass]="{'puntuacionEcalarActivada': (i==6 || i==9)}"></td>
      <td class="puntuacionEcalarActivada"></td>
    </tr>
    <tr>
  </table>
</div>
<div [chart]="graficaComprensionVerbal" class="col-sm-6 col-md-3 col-xs-12"></div>
<div [chart]="graficaRazonamientoPerceptual" class="col-sm-6 col-md-3 col-xs-12"></div>
<div [chart]="graficaMemoriaDeTrabajo" class="col-sm-6 col-md-3 col-xs-12"></div>
<div [chart]="graficaVelocidadProcesamiento" class="col-sm-6 col-md-3 col-xs-12"></div>