
<input type="button" class="btn btn-outline-dark btn-lg" value="Diseño con cubos"
[routerLinkActive]="'active-link'" [routerLink]="['/diseno-cubos']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Semejanzas"
[routerLinkActive]="'active-link'" [routerLink]="['/semejanzas']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Retención de dígitos"
[routerLinkActive]="'active-link'" [routerLink]="['/retencion-digitos']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Matrices"
[routerLinkActive]="'active-link'" [routerLink]="['/matrices']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Vocabulario"
[routerLinkActive]="'active-link'" [routerLink]="['/vocabulario']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Aritmética"
[routerLinkActive]="'active-link'" [routerLink]="['/aritmetica']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Búsqueda de símbolos"
[routerLinkActive]="'active-link'" [routerLink]="['/busqueda-simbolos']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Rompecabezas visual"
[routerLinkActive]="'active-link'" [routerLink]="['/rompecabezas-visual']">

<input type="button" class="btn btn-outline-dark btn-lg" value="Información"
[routerLinkActive]="'active-link'" [routerLink]="['/informacion']">

<router-outlet></router-outlet>