<input type="button" class="btn btn-info btn-lg" value="Semejanzas"
[routerLinkActive]="'active-link'" [routerLink]="['/semejanzas']">

<input type="button" class="btn btn-info btn-lg" value="Retención de dígitos"
[routerLinkActive]="'active-link'" [routerLink]="['/retencion-digitos']">

<input type="button" class="btn btn-info btn-lg" value="Matrices"
[routerLinkActive]="'active-link'" [routerLink]="['/matrices']">

<input type="button" class="btn btn-info btn-lg" value="Vocabulario"
[routerLinkActive]="'active-link'" [routerLink]="['/vocabulario']">

<input type="button" class="btn btn-info btn-lg" value="Aritmética"
[routerLinkActive]="'active-link'" [routerLink]="['/aritmetica']">

<input type="button" class="btn btn-info btn-lg" value="Búsqueda de símbolos"
[routerLinkActive]="'active-link'" [routerLink]="['/busqueda-simbolos']">

<router-outlet></router-outlet>