<div class="btn-group cuerpo">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Ingreso de datos"
    [routerLinkActive]="'active-link'" [routerLink]="['/ingreso-de-datos']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Hoja de resultados"
    [routerLinkActive]="'active-link'" [routerLink]="['/hoja-resultados']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Diseño con cubos"
    [routerLinkActive]="'active-link'" [routerLink]="['/diseno-cubos']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Semejanzas"
    [routerLinkActive]="'active-link'" [routerLink]="['/semejanzas']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Retención de dígitos"
    [routerLinkActive]="'active-link'" [routerLink]="['/retencion-digitos']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Matrices"
    [routerLinkActive]="'active-link'" [routerLink]="['/matrices']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Vocabulario"
    [routerLinkActive]="'active-link'" [routerLink]="['/vocabulario']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Aritmética"
    [routerLinkActive]="'active-link'" [routerLink]="['/aritmetica']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Búsqueda de símbolos"
    [routerLinkActive]="'active-link'" [routerLink]="['/busqueda-simbolos']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Rompecabezas visual"
    [routerLinkActive]="'active-link'" [routerLink]="['/rompecabezas-visual']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Información"
    [routerLinkActive]="'active-link'" [routerLink]="['/informacion']">

    <input type="button" id="btnPrueba" class="btn btn-outline-dark btn-lg" value="Claves"
    [routerLinkActive]="'active-link'" [routerLink]="['/claves']">
    
</div>
<router-outlet></router-outlet>