<html>
<body class = "cuerpo">
  <table>
    <td>
      <p>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <b> Inicio:</b> <br> Edades de 16 a 90 años: <br> Reactivos muestra A y B, después reactivo 4
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-refresh"></i>
        <b> Inversión:</b> <br> Si obtiene una puntuación de 0 en el reactivo 4 o 5<br> aplique los reactivos anteriores en
        orden inverso hasta<br> obtener dos puntuaciones perfectas consecutivas
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-hand-paper-o"></i>
        <b> Discontinuación:</b> <br> Después de 3 puntuaciones<br> consecutivas de 0
      </p>
    </td>
    <td>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <b> Puntuación:</b> <br> Otorgue 0 o 1 punto<br> Las respuestas correctas están a color
      </p>
    </td>
  </table>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th></th>
        <th>Reactivo</th>
        <th>Respuesta</th>
        <th>0</th>
        <th>1</th>
      </tr>
      <tr *ngFor="let item of respuestasCorrectas; let i = index">
        <td>
          <p *ngIf="i==5">16-90</p>
        </td>
        <td><p *ngIf="i>1">{{i-1}}</p>
          <p *ngIf="i==0">MA.</p>
          <p *ngIf="i==1">MB.</p>
        </td>
        <td><b>{{item}}</b></td>
        <td><input type="radio" name={{i}} (click)="calificarReactivo(0,i)"
          [disabled]="habilitarReactivo(i)" *ngIf="i>=2"></td>
        <td><input type="radio" name={{i}} (click)="calificarReactivo(1,i)"
          [disabled]="habilitarReactivo(i)" [checked] = "habilitarReactivo(i)" *ngIf="i>=2"></td>
      </tr>
    </table>
    <p id="puntuacion">Puntuación natural total para Matrices: <br>
      <b>{{this.subprueba.puntuacionNatural}}</b>
    </p>
  </div>
  <button type="button" class="btn btn-dark btn-lg" (click)="finalizarSubprueba()" id="btnPrueba">
    <span class="glyphicon glyphicon-arrow-right"></span> Siguiente
</button>
</body>

</html>