<app-header></app-header>
<body class="cuerpo">
  <table>
    <tr>
      <th>Puntuación de proceso</th>
      <th>Puntuación natural</th>
      <th>Puntuación escalar</th>
    </tr>
    <tr *ngFor="let item of puntuacionesProceso; let i = index">
      <td>{{item}}</td>
      <td>{{this.subpruebas[i].puntuacionNatural}}</td>
      <td>{{this.subpruebas[i].puntuacionEscalar}}</td>
    </tr>
  </table>
  <h3><b>Comparación de discrepancias entre puntuaciones escalares</b></h3>
  <table>
    <tr>
      <th>Comparación</th>
      <th></th>
      <th>Puntuación 1</th>
      <th></th>
      <th></th>
      <th>Puntuación 2</th>
      <th></th>
      <th>Diferencia</th>
      <th>Valor crítico</th>
      <th>Diferencia significativa</th>
    </tr>
    <tr *ngFor="let item of comparaciones; let i = index">
      <td>{{item}}</td>
      <td>{{p1[i]}}</td>
      <td>{{puntuacionesNaturales1[i]}}</td>
      <td>-</td>
      <td>{{p2[i]}}</td>
      <td>{{puntuacionesNaturales2[i]}}</td>
      <td>=</td>
      <td>{{diferencias[i]}}</td>
      <td>{{valoresCriticos[i]}}</td>
      <td>{{diferenciasSignificativos[i]}}</td>
    </tr>
  </table>
  <button type="button" class="btn btn-dark btn-lg" (click)="anterior()" id="btnPrueba">
    <span class="glyphicon glyphicon-arrow-left"></span> Anterior
  </button>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px'  }"></ngx-loading>
</body>