<html>

<body class="cuerpo">
  <table>
    <td>
      <p>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <b> Inicio:</b> <br>
        <b>Edades 6-9: </b> reactivos muestra<br>
        AyB, despues reactivo 1
        <b>Edades 10-16: </b> reactivos muestra<br>
        AyB, despues reactivo 5
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-refresh"></i>
        <b> Inversión:</b>
        <b>Edades 10-16:</b> Puntuación de 0 en <br>
        cualquiera de los dos primeros<br>
        reactivos dados, aplique los reactivos<br>
        anteriores en orden inverso hasta<br>
        obtener dos puntuaciones consecutivas<br>
        perfectas.
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-hand-paper-o"></i>
        <b> Discontinuación:</b> <br> Después de 5 puntuaciones<br> consecutivas de 0
      </p>
    </td>
    <td>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <b> Puntuación:</b> <br>
        Otorgue 0, 1 punto<br>
        Vease el manual de aplicación para respuestas de muestra
      </p>
    </td>
  </table>
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th></th>
        <th>Reactivo</th>
        <th>Pista</th>
        <th>Respuesta</th>
        <!--<th>S</th>
        <th>N</th>-->
        <th>0</th>
        <th>1</th>
      </tr>
      <tr *ngFor="let item of primerosReactivos; let i = index" [ngClass]="{'positive' : i == getReactivoSiguiente()}"
        id="checksreactivo{{i}}">
        <td>
          <p *ngIf="i==0">6-16</p>
          <p *ngIf="i==2">6-9</p>
          <p *ngIf="i==6">10-16</p>
        </td>
        <td>
          <p *ngIf="i>1">{{i-1}}</p>
          <p *ngIf="i==0">A</p>
          <p *ngIf="i==1">B</p>
        </td>
        <td>
          <p>I. {{item}}<br></p>
          <p *ngIf='segundosReactivos[i].length>0'>II. {{segundosReactivos[i]}}<br></p>
          <p *ngIf='tercerosReactivos[i].length>0'>III. {{tercerosReactivos[i]}}</p>
        </td>
        <td>
          <input type="text" placeholder="Escriba aqui..." id="txtRespuesta">
        </td>
        <!--<td><input type="radio" name="{{item}}{{i}}" [disabled]="habilitarReactivo(i)" [checked]="checkear(i)"></td>
        <td><input type="radio" name="{{item}}{{i}}" [disabled]="habilitarReactivo(i)"></td>-->
        <td><input type="radio" *ngIf="i>1" id="p1" name="{{item}}" (click)="calificarReactivo(0,i)" [disabled]="habilitarReactivo(i)"></td>
        <td><input type="radio" *ngIf="i>1" id="p2" name="{{item}}" (click)="calificarReactivo(1,i)" [disabled]="habilitarReactivo(i)"
            [checked]="checkear(i)"></td>
      </tr>
    </table>
  </div>
  <table>
    <td>
      * Las respuestas que requieren interrogatorio específico están identificadas en el<br>
      manual de aplicación<br>
      + Si el examinado no da una respuesta correcta, de retroalimentación correctiva como se indica<br>
      en el manual de aplicación.
    </td>
    <td>
      Puntuación natural total para Información: <br>
      <b id="checksreactivo26">{{this.subprueba.puntuacionNatural}}</b>
    </td>
  </table>
  <button type="button" class="btn btn-dark btn-lg" (click)="finalizarSubprueba()" id="btnPrueba">
    <span class="glyphicon glyphicon-arrow-right"></span> Siguiente
  </button>
</body>

</html>