<html>

<body class="cuerpo">
  <table>
    <td>
      <p>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <b> Inicio:</b><br>
        <b>Edades de 6-8: </b>Reactivo muestra, después reactivo 1<br>
        <b>Edades de 9-11: </b>Reactivo muestra, después reactivo 3<br>
        <b>Edades de 12-16: </b>Reactivo muestra, después reactivo 5<br>
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-refresh"></i>
        <b> Inversión:</b><br>
        <b>Edades de 9-16: </b>Si obtiene una puntuación de 0 o 1 <br>
        en cualquiera de los 2 primeros reactivos dados<br> 
        aplique los reactivos anteriores en orden inverso<br>
        hasta obtener dos puntuaciones perfectas consecutivas
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-hand-paper-o"></i>
        <b> Discontinuación:</b> <br> Después de 3 puntuaciones<br> consecutivas de 0
      </p>
    </td>
    <td>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <b> Puntuación:</b> <br>
        <b>Reactivos 1-2: </b>Puntuación 0 o 1 punto<br>
        <b>Reactivos 3-23: </b>Puntuación 0, 1 o 2 puntos
      </p>
    </td>
  </table>
  <button type="button" id="btnAvanzar" class="btn btn-secondary" id="btnPrueba" (click)="seCambiaraLaSubprueba = true">
    Cambiar subprueba
  </button>
  <input type="button" *ngIf="seCambiaraLaSubprueba" (click)="cambiarSubprueba(1)" class="btn btn-secondary" value="Información">
  <input type="button" *ngIf="seCambiaraLaSubprueba" (click)="cambiarSubprueba(2)" class="btn btn-secondary" value="Pistas">
  <input type="button" class="btn btn-secondary" *ngIf="seCambiaraLaSubprueba" (click)="seCambiaraLaSubprueba=false"
    value="Cancelar">
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th></th>
        <th>Reactivo</th>
        <th>Puntuación</th>
        <th>0</th>
        <th>1</th>
        <th>2</th>
      </tr>
      <tr *ngFor="let item of reactivos; let i = index" [ngClass]="{'positive' : i == getReactivoSiguiente()}" id="checksreactivo{{i}}">
        <ng-container *ngIf="i<reactivos.length - 1">
          <td>
            <p *ngIf="i==0">6-16</p>
            <p *ngIf="i==1 ">6-8</p>
            <p *ngIf="i==3">9-11</p>
            <p *ngIf="i==5">12-16</p>
          </td>
          <td>{{item}}</td>
          <td>
            <input type="text" id="txtRespuesta{{i}}" placeholder="Escriba aqui..." class="form-control">
          </td>
          <td><input type="radio" id="p1" name="{{item}}" (click)="calificarReactivo(0,i,txtRespuesta)" [disabled]="habilitarReactivo(i)"
              *ngIf="i>0"></td>
          <td><input type="radio" id="p2" name="{{item}}" (click)="calificarReactivo(1,i,txtRespuesta)" [disabled]="habilitarReactivo(i)"
              *ngIf="i>0" [checked]="checkear(i)"></td>
          <td *ngIf="i>2"><input type="radio" id="p3" name="{{item}}" (click)="calificarReactivo(2,i,txtRespuesta)"
              [disabled]="habilitarReactivo(i)" [checked]="checkear(i)"></td>
        </ng-container>
      </tr>

    </table>
  </div>
  <table>
    <td>
      * Si el niño no proporciona una respuesta de 1 punto, de la respuesta señalada en el manual de aplicación
    </td>
    <td>
      Puntuación natural total para semejanzas: <br>
      <b id="checksreactivo18">{{this.subprueba.puntuacionNatural}}</b>
    </td>
  </table>
  <button type="button" class="btn btn-dark btn-lg" (click)="finalizarSubprueba()" id="btnPrueba">
    <span class="glyphicon glyphicon-arrow-right"></span> Siguiente
  </button>
</body>

</html>