<body class="cuerpo">
  <h1>
    <b>Análisis</b>
  </h1>
  <h3>
    Comparación de discrepancias
  </h3>
  <table>
    <tr>
      <th>Comparación</th>
      <th colspan="2">Puntuación 1</th>
      <th></th>
      <th colspan="2">Puntuación 2</th>
      <th></th>
      <th>Diferencia</th>
      <th>Valor crítico</th>
      <th>Diferencia significativa</th>
    </tr>
    <tr *ngFor="let item of comparaciones; let i = index">
      <td>{{item}}</td>
      <td>{{p1[i]}}</td>
      <td>{{this.puntuacion1[i]}}</td>
      <td>-</td>
      <td>{{p2[i]}}</td>
      <td>{{this.puntuacion2[i]}}</td>
      <td>=</td>
      <td>{{this.diferencia[i]}}</td>
      <td>{{this.valoresCriticos[i]}}</td>
      <td>{{hayDiferenciasSignificativas[i]}}</td>
    </tr>
  </table>
  <br><br>
  <button type="button" id="btnAvanzar" class="btn btn-dark btn-lg" (click)="siguiente()" id="btnPrueba"> Ver
    Ver fortalezas y debilidades
    <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
</body>