<app-header></app-header>
<div class="cuerpo">
  <table>
    <td>
      <p>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <b> Inicio:</b> <br>
        <b>Edad 16 a 69 años: </b><br>
        reactivo muestra A y B, reactivo de práctica<br>
        después reactivo 4. <br>
        <b>Edad 70 a 90 años: </b><br>
        no se aplique.
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-refresh"></i>
        <b> Inversión:</b> <br> Si obtiene una puntuación de 0 en el reactivo 4 o 5<br>
        aplique los reactivos anteriores
        en orden <b>inverso</b> hasta<br> obtener dos puntuaciones perfectas consecutivas.
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-hand-paper-o"></i>
        <b> Discontinuación:</b> <br> Después de <b>tres</b> puntuaciones<br> consecutivas de 0.
      </p>
    </td>
    <td>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <b> Puntuación:</b> <br>
        Otorgue 0 o 1 punto.<br>
      </p>
    </td>
  </table>
  <div class="table-responsive">
    <table class="table">
      <tr>        
        <th>Reactivo</th>
        <th>Tiempo límite</th>
        <th>Tiempo empleado</th>
        <th>Respuestas correctas</th>
        <th>0</th>
        <th>1</th>
      </tr>
      <tr *ngFor="let item of respuestasCorrectas; let i = index" [ngClass]="{'positive' : i == getReactivoSiguiente()}"
        id="checksreactivo{{i}}">        
        <td>
          <b *ngIf="i==6">16-90</b>
          <p *ngIf="i==0">MA.</p>
          <p *ngIf="i==1">MB.</p>
          <p *ngIf="i==2">P.</p>
          <p *ngIf="i>2">{{i-1}}</p>
        </td>
        <td>
          <p *ngIf="i<=13 && i>2">20''</p>
          <p *ngIf="i>13">40''</p>
        </td>
        <td>
          <app-cronometro></app-cronometro>
        </td>
        <td>{{item}}</td>
        <td><input *ngIf="i>2" type="radio" id="p1" name="{{i}}" (click)="calificarReactivo(0,i)" [disabled]="habilitarReactivo(i)"
            [checked]="reactivosFinalizadosPuntuacion[i] == 0"></td>
        <td><input *ngIf="i>2" type="radio" id="p2" name="{{i}}" (click)="calificarReactivo(1,i)" [disabled]="habilitarReactivo(i)"
            [checked]="checkear(i) || reactivosFinalizadosPuntuacion[i] == 1"></td>
      </tr>
    </table>
    <p id="puntuacion">Puntuación natural total para peso figurado: <br>
      <b *ngIf="pruebaConsultada" id="checksreactivo29">{{this.puntuacionPruebaConsultada}}</b>
      <b *ngIf="!pruebaConsultada" id="checksreactivo29">{{this.subprueba.puntuacionNatural}}</b>
    </p>
  </div>
      <button type="button" *ngIf="!pruebaConsultada" class="btn btn-dark btn-lg" (click)="finalizarSubprueba()" id="btnPrueba">
        <span class="glyphicon glyphicon-arrow-right"></span> Siguiente
      </button>
</div>