<html>

<body class="cuerpo">
  <table>
    <td>
      <p>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <b> Inicio:</b> <br> Edades de 16 a 90 años: <br> Reactivo muestra, después reactivo 5
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-refresh"></i>
        <b>Inversión:</b> <br> Si obtiene una puntuación de 0 en el reactivo 5 o 6<br> aplique los reactivos anteriores
        en orden inverso hasta<br> obtener dos puntuaciones perfectas consecutivas.
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-hand-paper-o"></i>
        <b>Discontinuación:</b> <br> Después de dos puntuaciones<br> consecutivas de 0
      </p>
    </td>
    <td>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <b> Puntuación:</b> <br> Otorgue 0, 1 o 2 puntos<br> Vease el manual de aplicación para<br> respuestas de
        muestra
      </p>
    </td>
  </table>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Reactivo</th>
        <th>Diseño</th>
        <th>Forma de presentación</th>
        <th>Tiempo límite</th>
        <th>Tiempo empleado</th>
        <th>Diseño realizado</th>
        <th>Puntuación</th>
      </tr>
      <tr *ngFor="let item of imagenesCubos; let i = index" 
          [ngClass]="{'positive' : i == getReactivoSiguiente()}">
        <td>
          <p *ngIf="i>=1">{{i}}</p>
          <p *ngIf="i==0">M.</p>
        </td>
        <td> <img src='/src/assets/{{item}}' alt='image' style="width:125px;"> </td>
        <td>
          <p *ngIf="i < 4">Modelo y dibujo</p>
          <p *ngIf="i >= 4">Dibujo</p>
        </td>
        <td>
          <p *ngIf="i < 4">30''</p>
          <p *ngIf="i >= 4 && i < 10">60''</p>
          <p *ngIf="i >= 10">120''</p>
        </td>
        <td>
          <app-cronometro></app-cronometro>
        </td>
        <td>
          <table>
            <tr id="checksreactivo{{i}}">
              <td style="padding: 0px; border: 0px; width: 40px;">
                <img (click)="cambiarImg(i, 0)" src='/src/assets/Cubo ({{posicionCubos[i][0]}}).png' style="width:40px;">
              </td>
              <td style="padding: 0px; border: 0px;">
                <img (click)="cambiarImg(i, 1)" src='/src/assets/Cubo ({{posicionCubos[i][1]}}).png' style="width:40px;">
              </td>
              <td *ngIf="i > 10" style="padding: 0px; border: 0px;">
                <img (click)="cambiarImg(i, 2)" src='/src/assets/Cubo ({{posicionCubos[i][2]}}).png' style="width:40px;">
              </td>
            </tr>
            <tr *ngIf="i > 2">
              <td style="padding: 0px; border: 0px; width: 40px;">
                <img (click)="cambiarImg(i, 3)" src='/src/assets/Cubo ({{posicionCubos[i][3]}}).png' style="width:40px;">
              </td>
              <td style="padding: 0px; border: 0px;">
                <img (click)="cambiarImg(i, 4)" src='/src/assets/Cubo ({{posicionCubos[i][4]}}).png' style="width:40px;">
              </td>
              <td *ngIf="i > 10" style="padding: 0px; border: 0px;">
                <img (click)="cambiarImg(i ,5)" src='/src/assets/Cubo ({{posicionCubos[i][5]}}).png' style="width:40px;">
              </td>
            </tr>
            <tr *ngIf="i > 10">
              <td style="padding: 0px; border: 0px; width: 40px;">
                <img (click)="cambiarImg(i, 6)" src='/src/assets/Cubo ({{posicionCubos[i][6]}}).png' style="width:40px;">
              </td>
              <td style="padding: 0px; border: 0px; width: 40px;">
                <img (click)="cambiarImg(i, 7)" src='/src/assets/Cubo ({{posicionCubos[i][7]}}).png' style="width:40px;">
              </td>
              <td style="padding: 0px; border: 0px;">
                <img (click)="cambiarImg(i, 8)" src='/src/assets/Cubo ({{posicionCubos[i][8]}}).png' style="width:40px;">
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table *ngIf="i>0">
            <tr>
              <td>0. <input type="radio" id="p1" name="{{i}}" (click)="calificarReactivo(0,i)" [disabled]="habilitarReactivo(i)"></td>
              <td *ngIf="i < 5">1. <input type="radio" id="p2" name="{{i}}" (click)="calificarReactivo(1,i)" [disabled]="habilitarReactivo(i)"></td>
              <td *ngIf="i < 5">2. <input type="radio" id="p3" name="{{i}}" (click)="calificarReactivo(2,i)" [disabled]="habilitarReactivo(i)"
                  [checked]="checkear(i)"></td>
              <td *ngIf="i > 4">
                <h6 *ngIf="i > 10">76-120</h6>
                <h6 *ngIf="i > 8 && i < 11">31-60</h6>
                4. <input type="radio" id="p1" name="{{i}}" (click)="calificarReactivo(4,i)" [disabled]="habilitarReactivo(i)">
              </td>
            </tr>
            <tr *ngIf="i > 8">
              <td>
                <h6 *ngIf="i > 10">61-75</h6>
                <h6 *ngIf="i > 8 && i < 11">21-30</h6>
                5. <input type="radio" id="p2" name="{{i}}" (click)="calificarReactivo(5,i)" [disabled]="habilitarReactivo(i)">
              </td>
              <td>
                <h6 *ngIf="i > 10">31-60</h6>
                <h6 *ngIf="i > 8 && i < 11">11-20</h6>
                6. <input type="radio" id="p3" name="{{i}}" (click)="calificarReactivo(6,i)" [disabled]="habilitarReactivo(i)">
              </td>
              <td>
                <h6 *ngIf="i > 10">1-30</h6>
                <h6 *ngIf="i > 8 && i < 11">1-10</h6>
                7. <input type="radio" id="p3" name="{{i}}" (click)="calificarReactivo(7,i)" [disabled]="habilitarReactivo(i)">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
  <button type="button" class="btn btn-dark btn-lg" (click)="finalizarSubprueba()" id="btnPrueba">
    <span class="glyphicon glyphicon-arrow-right"></span> Siguiente
  </button>
  <p id="puntuacion">Puntuación natural total para RDI: <br>
    <b id="checksreactivo15">{{this.subprueba.puntuacionNatural}}</b></p>

  <!--Scroll to top
  <button [ngClass]="{'show-scroll': navIsFixed}" (click)="scrollToTop()" class="scroll-to-top btn btn-dark">
    Hacia arriba
</button>
-->
</body>

</html>