<app-header></app-header>
<body class="cuerpo">
  <table>
    <td>
      <p>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <b> Inicio:</b> <br>
        <b>Edad 16 a 90 años: </b><br>
        Reactivo muestra, reactivos de práctica, <br>
        después reactivos de subprueba.
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-hand-paper-o"></i>
        <b> Discontinuación:</b> <br> Después de 120 segundos
      </p>
    </td>
    <td>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <b> Puntuación:</b> <br>
        Utilice la planilla de calificación de claves<br>
        para calificar las respuestas del examinado.<br>
        Otorgue 1 punto por cada respuesta correcta
      </p>
    </td>
    <td>
      <app-cronometro></app-cronometro>
    </td>
    <td>
      Puntuación natural total para Claves: <br>
      <input type="number" disables="pruebaConsultada" id="txtRespuesta" [(ngModel)]="puntuacion" pattern="[0-9]*">
    </td>
  </table>
</body>
<button type="button" *ngIf="!pruebaConsultada" id="btnAvanzar" class="btn btn-secondary" id="btnPrueba" (click)="seCambiaraLaSubprueba = true">
  Cambiar subprueba
</button>
<input type="button" *ngIf="seCambiaraLaSubprueba" (click)="cambiarSubprueba()" class="btn btn-secondary" value="Cancelación">
<input type="button" class="btn btn-secondary" *ngIf="seCambiaraLaSubprueba" (click)="seCambiaraLaSubprueba=false"
  value="Cancelar"><br>
<button type="button" *ngIf="!pruebaConsultada" class="btn btn-dark btn-lg" (click)="finalizarSubprueba()" id="btnPrueba">
  <span class="glyphicon glyphicon-arrow-right"></span> Siguiente
</button>