<div class="btn-group">
    <button title="Reproducir" class="btn btn-outline-dark btn-sm" (click)='startTimeCounter()'><i class="glyphicon glyphicon-play"></i></button>
    <button title="Pausar" class="btn btn-outline-dark btn-sm" (click)='pauseTimer()'><i class="glyphicon glyphicon-pause"></i></button>
    <button title="Rebobinar" class="btn btn-outline-dark btn-sm" (click)='resetTimeCounter()'><i class="glyphicon glyphicon-stop"></i></button>
</div>
<p><b>Tiempo (en segundos):</b> {{timeCounter}}</p>