<!DOCTYPE html>
<html>

<body class = "cuerpo">
  <table>
    <td>
      <p>
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
        <b> Inicio:</b> <br> Edades de 16 a 90 años: <br>
        <b>Orden directo:</b> reactivo 1. <br>
        <b>Orden inverso:</b> reactivo muestra, <br> después del reactivo 1<br>
        <b>Secuencia:</b> reactivo muestra, <br> después del reactivo 1
      </p>
    </td>
    <td>
      <p>
        <i class="fa fa-hand-paper-o"></i>
        <b> Discontinuación:</b> <br>
        <b>Orden directo:</b> después de obtener 0<br> en dos ensayos de un reactivo<br>
        <b>Orden inverso:</b> después de obtener 0<br> en dos ensayos de un reactivo<br>
        <b>Secuencia:</b> después de obtener 0<br> en dos ensayos de un reactivo
      </p>
    </td>
    <td>
      <p>
        <span class="glyphicon glyphicon-pencil"></span>
        <b> Puntuación:</b> <br> Otorgue 0 o 1 punto para cada ensayo<br>
        <b>RDD, RDI, RDS</b><br> Puntuación natural total para orden directo, orden inverso<br> y secuencia, respectivamente<br>
        <b>MRDD, MRDI, MRDS</b><br> Número de digitos recordado en el último ensayo con puntuación 1<br> en orden directo,
        orden inverso y secuencia, respectivamente
      </p>
    </td>
  </table>
  <br>
  <div class="tab">
    <label class="radio-inline">
      <input type="radio" (click)="this.selectedRetencionDeDigitos=1" name="tipoRetencionDeDigitos">RDD
    </label>
    <label class="radio-inline">
      <input type="radio" (click)="this.selectedRetencionDeDigitos=2" name="tipoRetencionDeDigitos">RDI
    </label>
    <label class="radio-inline">
      <input type="radio" (click)="this.selectedRetencionDeDigitos=3" name="tipoRetencionDeDigitos">RDS
    </label>
    <label class="radio-inline">
        <input type="radio" (click)="this.selectedRetencionDeDigitos=4" name="tipoRetencionDeDigitos">Ver puntuación total
    </label>
  </div>

  <div id="rdd" class="tabcontent" *ngIf="this.selectedRetencionDeDigitos==1">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th></th>
          <th>Reactivo</th>
          <th>Ensayo</th>
          <th>0</th>
          <th>1</th>
          <th>Puntuación del reactivo</th>
        </tr>
        <tr *ngFor="let item of digitosRDD; let i = index">
          <td><p *ngIf="i==0">16-90</p></td>
          <td><p *ngIf="i%2==0"><b>{{(i+1)/2+0.5}}</b><p></td>
          <td>
            {{item}}
          </td>
          <td><input type="radio" id="p1" name="{{item}}"><br>
          <td><input type="radio" id="p2" name="{{item}}">
          <td></td>
        </tr>
      </table>
      <p id="puntuacion">Puntuación natural total para RDD: <br>
      <b>{{this.puntuacionRDD}}</b></p>
    </div>
  </div>

  <div id="rdi" class="tabcontent" *ngIf="this.selectedRetencionDeDigitos==2">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th></th>
          <th>Reactivo</th>
          <th>Ensayo</th>
          <th>Respuesta correcta</th>
          <th>0</th>
          <th>1</th>
          <th>Puntuación del reactivo</th>
        </tr>
        <tr *ngFor="let item of digitosRDI; let i = index">
          <td><p *ngIf="i==0">16-90</p></td>
          <td><p *ngIf="i%2==0"><b>{{(i+1)/2+0.5}}</b><p></td>
          <td>
            {{item.ensayo}}
          </td>
          <td>
           {{item.respuesta}}
          </td>
          <td><input type="radio" id="p1" name="{{item.ensayo}}">
          <td><input type="radio" id="p2" name="{{item.ensayo}}">
          <td></td>
        </tr>
      </table>
      <p id="puntuacion">Puntuación natural total para RDI: <br>
      <b>{{this.puntuacionRDI}}</b></p>
    </div>
  </div>

  <div id="rds" class="tabcontent" *ngIf="this.selectedRetencionDeDigitos==3">
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th></th>
          <th>Reactivo</th>
          <th>Ensayo</th>
          <th>Respuesta correcta</th>
          <th>0</th>
          <th>1</th>
          <th>Puntuación del reactivo</th>
        </tr>
        <tr *ngFor="let item of digitosRDS; let i = index">
          <td><p *ngIf="i==0">16-90</p></td>
          <td><p *ngIf="i%2==0"><b>{{(i+1)/2+0.5}}</b><p></td>
            <td>
              {{item.ensayo}}
            </td>
            <td>
             {{item.respuesta}}
            </td>
          <td><input type="radio" id="p1" name="{{item.ensayo}}">
          <td><input type="radio" id="p2" name="{{item.ensayo}}">
          <td></td>
        </tr>
      </table>
      <p id="puntuacion">Puntuación natural total para RDS: <br>
      <b>{{this.puntuacionRDS}}</b></p>
    </div>
  </div>
  <p id="puntuacionTotal" *ngIf="this.selectedRetencionDeDigitos==4">
    Puntuación natural total para Retención de dígitos: <br>
    <b>{{this.puntuacionRDD}}</b>
  </p>
</body>

</html>