<div class="cuerpo">
  <table>
    <tr>
      <td>
        <p>
          <span class="glyphicon glyphicon-circle-arrow-right"></span>
          <b> Inicio:</b> <br>
          <b>Edad 16 a 90 años: </b><br>
          reactivo muestra después del reactivo 4.
        </p>
      </td>
      <td>
        <p>
          <i class="fa fa-refresh"></i>
          <b> Inversión:</b> <br> Si obtiene una puntuación de 0 en el reactivo 4 o 5<br>
          aplique los reactivos anteriores
          en orden inverso hasta<br> obtener dos puntuaciones perfectas consecutivas.
        </p>
      </td>
      <td>
        <p>
          <i class="fa fa-hand-paper-o"></i>
          <b> Discontinuación:</b> <br> Después de cuatro puntuaciones<br> consecutivas de 0.
        </p>
      </td>
      <td>
        <p>
          <span class="glyphicon glyphicon-pencil"></span>
          <b> Puntuación:</b> <br>
          Otorgue 0, 1 punto. <br>
          Véase el Manual de aplicación y calificación para respuestas muestra.
        </p>
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <td>
        <p>
          Cada una de las siguientes indicaciones puede darse sólo una vez durante la aplicación de la subprueba. <br>
          Si el examinado nombra el dibujo en lugar de referirse o señalar la parte que falta, diga: Sí, pero ¿Qué falta? <br>
          Si el examinado se refiere o señala una parte que está fuera de la página, diga: A esta figura le falta una parte. ¿Qué parte le falta? <br>
          Si el examinado se refiere o señala una parte no esencial del dibujo, diga: Si, pero ¿Cuál es la parte más importante que falta?
        </p>
      </td>
    </tr>
  </table>

  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>Reactivo</th>
        <th>Tiempo empleado</th>        
        <th>Respuesta</th>
        <th>Respuesta señalada</th>
        <th>0</th>
        <th>1</th>
      </tr>
      <tr *ngFor="let item of reactivos; let i = index" 
          [ngClass]="{'positive' : i == getReactivoSiguiente()}" id="checksreactivo{{i}}">
        <td>
          <b *ngIf="i==4">16-90</b> <br>
          {{item}}
        </td>
        <td>
          <app-cronometro></app-cronometro>
        </td>        
        <td>
          <input type="text" placeholder="Escriba aqui..." id="txtRespuesta">          
        </td>
        <td>
            <button type="button" class="btn btn-dark btn-separado" id="SC">SC</button>            
            <button type="button" class="btn btn-dark btn-separado" id="SX">SX</button>
          </td>   
        <td><input type="radio" id="p1" name="{{item}}" (click)="calificarReactivo(0,i)" [disabled]="habilitarReactivo(i)"
            *ngIf="i>0"></td>
        <td><input type="radio" id="p2" name="{{item}}" (click)="calificarReactivo(1,i)" [disabled]="habilitarReactivo(i)"
            [checked]="checkear(i)" *ngIf="i>0"></td>
      </tr>
    </table>
  </div>
  <table>
    <td>
      * Si el examinado no obtiene puntuación perfecta, hay que darle una retroalimentación correctiva<br>
      como se sugiere en el manual de aplicación.<br>
      + Si el examinado da la respuesta en horas, solicitar el equivalente en minutos.
    </td>
    <td>
      Puntuación natural total para Figuras incompletas: <br>
      <b id="checksreactivo25">{{this.subprueba.puntuacionNatural}}</b>
    </td>
  </table>
  <button type="button" class="btn btn-dark btn-lg" (click)="finalizarSubprueba()" id="btnPrueba">
    <span class="glyphicon glyphicon-arrow-right"></span> Siguiente
  </button>
</div>